@layer theme, base, clerk, components, utilities;
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "valentine";
  default: true;
}
@plugin "daisyui/theme" {
  name: "sunset";
  default: false;
  prefersdark: true;
}

@custom-variant light (&where([data-theme=valentine], [data-theme=valentine] *));
@custom-variant dark (&where([data-theme=sunset], [data-theme=sunset] *));

@font-face {
  font-family: "AdornCopperplate";
  font-display: swap;
  src: url("/fonts/adorn-copperplate.otf");
}

@font-face {
  font-family: "MenoBanner";
  font-display: swap;
  size-adjust: 150%;
  src: url("/fonts/meno-banner-regular.otf");
}

@font-face {
  font-family: "MenoBannerBold";
  font-display: swap;
  size-adjust: 150%;
  src: url("/fonts/meno-banner-bold.otf");
}

@font-face {
  font-family: "RoyaltyFree";
  font-display: swap;
  src: url("/fonts/royalty-free.otf");
}

@theme {
  --font-adorn-copperplate: "AdornCopperplate", sans-serif;
  --font-meno-banner: "MenoBanner", sans-serif;
  --font-meno-banner-bold: "MenoBannerBold", sans-serif;
  --font-royalty-free: "RoyaltyFree", sans-serif;
}
:root {
  --clerk-color-primary: var(--color-primary);
  --clerk-color-primary-foreground: var(--color-primary-content);
  --clerk-color-danger: var(--color-error);
  --clerk-color-success: var(--color-success);
  --clerk-color-warning: var(--color-warning);
  --clerk-color-neutral: var(--color-neutral);
  --clerk-color-foreground: var(--color-base-content);
  --clerk-color-muted-foreground: var(--color-base-content);
  --clerk-color-background: var(--color-base-300);
  --clerk-color-input: var(--color-base-100);
  --clerk-color-input-foreground: var(--color-base-content);
  --clerk-color-ring: var(--color-secondary);
  --clerk-color-shimmer: var(--color-accent);
  --clerk-color-modal-backdrop: var(--color-base-100/50);
  --clerk-border-radius: 0.375rem;
  --clerk-spacing: 1rem;
}

@layer ql-editor {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
  h4 {
    font-size: var(--text-base);
  }
  h5 {
    font-size: var(--text-sm);
  }
  h6 {
    font-size: var(--text-xs);
  }
  p {
    font-size: var(--text-base);
  }
}

.ql-picker.ql-font {
  .ql-picker-item {
    font-size: 0;
    &:before {
      content: attr(data-value) !important;
      font-size: 14px;
    }
  }
}

.ql-picker.ql-font{
  .ql-active {
    &:before {
      content: attr(data-value) !important;
      font-size: 14px;
    }
  }
}

.ql-picker.ql-font .ql-picker-label[data-value="Meno Banner"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Meno Banner"]::before
{
    font-family: "Meno Banner", cursive;;
    content: "Meno Banner" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Adorn Copperplate"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Adorn Copperplate"]::before
{
    font-family: "Adorn Copperplate", sans-serif;;
    content: "Adorn Copperplate" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Royalty Free"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Royalty Free"]::before
{
    font-family: "Royalty Free", cursive;;
    content: "Royalty Free" !important;
}

/* Set content font-families */
.ql-font-Meno-Banner {
  font-family: "MenoBanner";
}
.ql-font-Adorn-Copperplate {
  font-family: "AdornCopperplate";
}
.ql-font-Royalty-Free {
  font-family: "RoyaltyFree";
}
