@layer theme, base, clerk, components, utilities;
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "valentine";
  default: true;
}
@plugin "daisyui/theme" {
  name: "sunset";
  default: false;
  prefersdark: true;
}

@custom-variant light (&where([data-theme=valentine], [data-theme=valentine] *));
@custom-variant dark (&where([data-theme=sunset], [data-theme=sunset] *));

@font-face {
  font-family: "AdornCopperplate";
  font-display: swap;
  src: url("/fonts/adorn-copperplate.otf");
}

@font-face {
  font-family: "MenoBanner";
  font-display: swap;
  size-adjust: 150%;
  src: url("/fonts/meno-banner-regular.otf");
}

@font-face {
  font-family: "MenoBannerBold";
  font-display: swap;
  size-adjust: 150%;
  src: url("/fonts/meno-banner-bold.otf");
}

@font-face {
  font-family: "RoyaltyFree";
  font-display: swap;
  src: url("/fonts/royalty-free.otf");
}

@theme {
  --font-adorn-copperplate: "AdornCopperplate", sans-serif;
  --font-meno-banner: "MenoBanner", sans-serif;
  --font-meno-banner-bold: "MenoBannerBold", sans-serif;
  --font-royalty-free: "RoyaltyFree", sans-serif;
}
